@font-face {
    font-family: 'Pixelify';
    src: url('../fonts/PixelifySans-Bold.eot');
    src: url('../fonts/PixelifySans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelifySans-Bold.woff2') format('woff2'),
        url('../fonts/PixelifySans-Bold.woff') format('woff'),
        url('../fonts/PixelifySans-Bold.ttf') format('truetype'),
        url('../fonts/PixelifySans-Bold.svg#PixelifySans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixelify';
    src: url('../fonts/PixelifySans-Medium.eot');
    src: url('../fonts/PixelifySans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelifySans-Medium.woff2') format('woff2'),
        url('../fonts/PixelifySans-Medium.woff') format('woff'),
        url('../fonts/PixelifySans-Medium.ttf') format('truetype'),
        url('../fonts/PixelifySans-Medium.svg#PixelifySans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixelify';
    src: url('../fonts/PixelifySans-SemiBold.eot');
    src: url('../fonts/PixelifySans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelifySans-SemiBold.woff2') format('woff2'),
        url('../fonts/PixelifySans-SemiBold.woff') format('woff'),
        url('../fonts/PixelifySans-SemiBold.ttf') format('truetype'),
        url('../fonts/PixelifySans-SemiBold.svg#PixelifySans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixelify';
    src: url('../fonts/PixelifySans-Regular.eot');
    src: url('../fonts/PixelifySans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelifySans-Regular.woff2') format('woff2'),
        url('../fonts/PixelifySans-Regular.woff') format('woff'),
        url('../fonts/PixelifySans-Regular.ttf') format('truetype'),
        url('../fonts/PixelifySans-Regular.svg#PixelifySans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.eot');
    src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Black.woff2') format('woff2'),
        url('../fonts/Lato-Black.woff') format('woff'),
        url('../fonts/Lato-Black.ttf') format('truetype'),
        url('../fonts/Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-BlackItalic.eot');
    src: url('../fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-BlackItalic.woff2') format('woff2'),
        url('../fonts/Lato-BlackItalic.woff') format('woff'),
        url('../fonts/Lato-BlackItalic.ttf') format('truetype'),
        url('../fonts/Lato-BlackItalic.svg#Lato-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato-Bold.ttf') format('truetype'),
        url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-BoldItalic.eot');
    src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-BoldItalic.woff2') format('woff2'),
        url('../fonts/Lato-BoldItalic.woff') format('woff'),
        url('../fonts/Lato-BoldItalic.ttf') format('truetype'),
        url('../fonts/Lato-BoldItalic.svg#Lato-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic.eot');
    src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Italic.woff2') format('woff2'),
        url('../fonts/Lato-Italic.woff') format('woff'),
        url('../fonts/Lato-Italic.ttf') format('truetype'),
        url('../fonts/Lato-Italic.svg#Lato-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Light.woff2') format('woff2'),
        url('../fonts/Lato-Light.woff') format('woff'),
        url('../fonts/Lato-Light.ttf') format('truetype'),
        url('../fonts/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-LightItalic.eot');
    src: url('../fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-LightItalic.woff2') format('woff2'),
        url('../fonts/Lato-LightItalic.woff') format('woff'),
        url('../fonts/Lato-LightItalic.ttf') format('truetype'),
        url('../fonts/Lato-LightItalic.svg#Lato-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype'),
        url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('../fonts/Lato-HairlineItalic.eot');
    src: url('../fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-HairlineItalic.woff2') format('woff2'),
        url('../fonts/Lato-HairlineItalic.woff') format('woff'),
        url('../fonts/Lato-HairlineItalic.ttf') format('truetype'),
        url('../fonts/Lato-HairlineItalic.svg#Lato-HairlineItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('../fonts/Lato-Hairline.eot');
    src: url('../fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Hairline.woff2') format('woff2'),
        url('../fonts/Lato-Hairline.woff') format('woff'),
        url('../fonts/Lato-Hairline.ttf') format('truetype'),
        url('../fonts/Lato-Hairline.svg#Lato-Hairline') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

// $background: #FFF3EE;
$background:#2f2f2f;
$grey-background:#484848;;
$light-background:#4e655e;
$primary: #827BB3;
$dark-primary: #595476;
$light-primary: #afa4f4;
$secondary: #FFF3DC;
$accent: #50edbe;
$dark-accent: #4acfa7;
$dark-green: #1b5140;
$dark:#000000;
$white: #ffffff;
// $text: #2D2D23;
$text: #FFF3EE;
$text-dark:#2f2f2f;
$header-foooter-height: 8vh;
$header-height: 100vh;
$footer-height: 8vh;
$width-100: 100%;
$margin: 2em;
$pixel-font: 'Pixelify', sans-serif;
$lato-font: 'Lato', sans-serif;
$layout-desktop: 1200px;

/***************** GENERAL & LAYOUT **************************/
a {
    color:$accent;
    text-decoration: none;
}

strong {
    font-weight: bold;
}

.active {
    display:block;
}

.notActive {
    display:none;
}

body {
    font-family: $lato-font;
    background-color: $background;
    color:$text;
    scroll-behavior: smooth;
    line-height: 25px;
}

p {
    text-align: justify;
}

h1, h2, h3 {
    font-family: $pixel-font;
    margin-top:40px;
    margin-bottom:30px;
    text-shadow: $dark 1px 1px;
}

h2 {
    font-size: 1.8rem;
    color:$accent;
}

h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    
    a {
        font-size:1.3rem;
        
        .fa-brands {
            font-size:1.2rem;
            margin-left:10px;
        }
    }
}

.fa-regular, .fa-solid, .fa-brands {
    text-shadow: $dark 1px 1px;
    color:$accent;
}

header, footer {
    padding-left:$margin;
    padding-right:$margin;
}

header, footer {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary;
    color:$text-dark;

    a {
        color:$text;
    }
}

header {
    border-bottom: solid 1px $background;
    height:$header-height;

    a {
        color:$dark-accent;
    }

    .headerTop {
        width:100%;

        .headContainer
        {
            display:flex;
            justify-content: space-between;

            .logo {
                width:30%;
                margin: auto;

                img {
                    width:70px;
                }
            }
    
            .titleContainer {
                width:70%;

                .title {
                    font-family: $pixel-font;
                    font-size:30px;
                    font-weight: bold;
                    text-shadow: $white 0.5px 0.5px;
                }

                .subtitle {
                    font-family: $pixel-font;
                    font-size:25px;
                    margin-top:10px;
                    text-shadow: $white 0.5px 0.5px;
                }
            }
        }

        .smallPres {
            margin-top:20px;

            .links {
                margin-right:auto;
                margin-left:auto;
                font-size: 1.5rem;
                margin-top:40px;
                display:flex;
                justify-content: space-between;
                width:90%;

                div {
                    text-align:center;
                }

                p {
                    margin-top:0px;
                    font-weight: normal;
                    font-size:0.9rem;
                    font-family: $pixel-font;
                }
            }

            p {
                margin-top:20px;
                margin-bottom:20px;
                font-weight: bold;
            }
        }
    }

    nav {
        display:none;
    }
}

main {
    padding-top:$margin;
    padding-bottom:100px;

    

    section {
        padding-bottom: 40px;
        padding-left:$margin;
        padding-right:$margin;
    }

    #work {
        article {
            border-bottom: 1px solid $primary;
        }
    }

    #contact {
        .subtitle {
            color:$light-primary;
            font-family: $pixel-font;
            font-size: 1.3rem;
            text-shadow: $dark 1px 1px;
            margin-bottom:20px;
        }

        p {
            margin-bottom:10px;
        }
        
        ul {
            li {
                margin-bottom:10px;
            }
        }
    }

    article {
        padding-bottom: 20px;

        .desktopImg {
            width:100%;
            margin-bottom:10px;
            opacity:0.8;
            filter: drop-shadow(10px 10px 0px $primary);
        }

        .phoneImg {
            width:50%;
            opacity:0.8;
            filter: drop-shadow(10px 10px 0px $primary);
        }

        .status {
            color:$light-primary;
            font-family: $pixel-font;
            font-size: 1.2rem;
            text-shadow: $dark 1px 1px;
        }

        .technoList {
            margin-top:15px;
            margin-bottom:15px;
        }
        
        .techno {
            background-color:$grey-background;
            color:$accent;
            padding: 1%;
            border-radius:5px;
            display:inline-block;
            margin-bottom:10px;
            margin-right:10px;
        }
        
    }
}

footer {
    border-top: solid 1px $background;
    width: $width-100;
    height:$footer-height;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;

    nav {
        width:100%;
    }

    .navLinks {
        width:100%;
        ul {
            display:flex;
            justify-content: space-between;
            width:100%;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size:0.8rem;
                color: $accent;

                .fa-regular, .fa-solid {
                    font-size:1.3rem;
                    margin-top: 5px;
                }
            }
        } 
    }
}

@media (min-width: $layout-desktop) {
    body {
        display:flex;
        flex-wrap: nowrap;
        position:relative;
    }

    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.5rem;
        
        a {
            font-size:1.5rem;

            .fa-brands {
                font-size:1.2rem;
                margin-left:10px;
            }
        }
    }


    header {
        width:35%;
        height: 100vh;
        position: sticky;
        top: 0;
        display:flex;
        flex-wrap: wrap;

        nav {
            display:block;
            padding-top:100px;

            .navLinks {

                font-size: 1.3rem;
                background-color: $dark-primary;
                padding:2%;
                border-radius:10px;

                ul {
                    display:flex;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    font-family: $pixel-font;
                    text-shadow: $dark 1px 1px;
                }
                
    
                .fa-solid, .fa-regular {
                    display:none;
                }
            }
        }

        .headerTop {

            .smallPres {
        
                .links {
                    margin-right:auto;
                    margin-left:auto;
                    font-size: 1.7rem;
                    margin-top:40px;
                    display:flex;
                    justify-content: space-between;
                    width:90%;

                    p {
                        font-size:1rem;
                    }
                }
            }

            .headContainer {

                .titleContainer {

                    .title {
                        font-family: $pixel-font;
                        font-size:40px;
                        font-weight: bold;
                        line-height: 35px;
                    }
        
                    .subtitle {
                        font-family: $pixel-font;
                        font-size:30px;
                        margin-top:10px;
                    }
                }
            }
        } 
    }

    main {
        width:65%;

        section {

            article {

                .projectContainer {
                    display:flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;

                    .projectImg {
                        width:35%;
                        text-align:center;
                    }

                    .projectDesc {
                        width:60%;
                    }
                }
            }
        }
    }

    footer {
        display:none;
    }
    
}